.settings-content {
  padding: 16px;

  ion-list {
    background: transparent;
  }

  ion-item {
    --background: transparent;
    border-radius: 8px;
    margin-bottom: 8px;
  }

  .danger-zone {
    margin-top: 40px;
    padding: 0 8px;

    ion-button {
      font-weight: bold;
      border-radius: 12px;
      --box-shadow: none;
    }
  }
}
