
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Cài đặt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="settings-content">

  <ion-list lines="full">
    <ion-item>
      <ion-label>Thông tin cá nhân</ion-label>
      <ion-button slot="end" fill="clear" color="primary" (click)="editProfile()">
        Chỉnh sửa
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Thông báo</ion-label>
      <ion-toggle slot="end" [(ngModel)]="notificationsEnabled"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Ngôn ngữ</ion-label>
      <ion-select slot="end" [(ngModel)]="selectedLanguage">
        <ion-select-option value="vi">Tiếng Việt</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="danger-zone">
    <ion-button expand="block" color="danger" (click)="confirmDeleteAccount()">
      Xóa tài khoản
    </ion-button>
  </div>

</ion-content>
