<div class="intro-header">
  <span class="intro-text">MyMap</span>
  <img src="assets/Mymap.png" alt="MyMap" class="intro-logo" />
</div>

<ion-content>
  <swiper-container pagination="true">
    <swiper-slide>
      <div>
        <h1>Khám phá & Lưu giữ bản đồ cá nhân của bạn <br></h1>
        Tạo, chia sẻ và cá nhân hóa bản đồ theo cách của riêng bạn – dễ dàng và trực quan.<br>
        <img src="assets/intro1.png" class="intro-img" alt="intro image">
      </div>
    </swiper-slide>

    <swiper-slide>
      <div>
        <img src="assets/intro2.png" class="intro-img" alt="intro image">
        <h1>Đánh dấu – Quản lý – Tìm kiếm <br></h1>
        Ghi chú địa điểm yêu thích, quản lý lộ trình & tìm lại dễ dàng mọi nơi bạn từng đi qua.<br>
      </div>
    </swiper-slide>

    <swiper-slide  class="intro1">
      <div class="i3">
        GVHD: Đỗ Thành Long<br>
        Nhóm thực hiện: 8<br>
        Lớp: DH22HM<br>
        Ngành: Hệ thống thông tin<br>
        Tên thành viên<br>
      </div>

        <div class="member-grid">
          <div>Nguyễn Ngọc Ấn</div>
          <div>22166002</div>
          <div>Nguyễn Hoàng Giang</div>
          <div>22166017</div>
          <div>Nguyễn Thanh Giang</div>
          <div>22166018</div>
          <div>Lê Quỳnh Như</div>
          <div>22166067</div>
          <div>Huỳnh Trung Phong</div>
          <div>22166068</div>
          <div>Nguyễn Phát Thịnh</div>
          <div>22166081</div>
        </div>
    </swiper-slide>
  </swiper-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="my-button" expand="block" (click)="handleExplore()">
      Khám phá
    </ion-button>
  </ion-toolbar>
</ion-footer>
