<form [formGroup]="pointForm" (ngSubmit)="onSubmit()" class="create-point-form">
  <ion-item>
    <ion-label position="stacked">Tên điểm <span style="color: #ff4444">*</span></ion-label>
    <ion-input formControlName="name" type="text" placeholder="Nhập tên điểm" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Mô tả</ion-label>
    <ion-textarea formControlName="description" rows="3" placeholder="Nhập mô tả cho điểm"></ion-textarea>
  </ion-item>

  <ion-item class="image-upload-item">
    <ion-label position="stacked">Hình ảnh (không bắt buộc)</ion-label>
    <div class="file-input-wrapper">
      <label class="custom-file-input">
        <ion-icon name="image-outline"></ion-icon>
        <span>{{ selectedImage ? selectedImage.name : 'Chọn hình ảnh' }}</span>
        <input type="file" (change)="onFileChange($event)" accept="image/*" style="display: none;">
      </label>
    </div>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Tọa độ</ion-label>
    <ion-input formControlName="geom" [readonly]="true" placeholder="Tọa độ sẽ được tự động điền"></ion-input>
  </ion-item>

  <ion-button expand="block" type="submit" [disabled]="loading">
    <ion-icon name="add-circle-outline" slot="start"></ion-icon>
    {{ loading ? 'Đang tạo...' : 'Tạo điểm' }}
  </ion-button>
</form> 